.Header {
    margin-inline: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .HeaderTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 25px;
  }
  
  .HeaderTitle h1 {
    font-size: x-large;
    font-weight: 700;
    color: #5d405c;
    align-self: flex-start;
    margin-bottom: 5px;
  }
  
  .HeaderTitle h2 {
    font-size: small;
    align-self: flex-start;
    color: #bcbcbc;
  }
  
  .HeaderButton {
    color: white;
    margin-top: 25px;
    height: fit-content;
    padding-inline: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    background-color: #5d405c;
    border: 0px;
    border-radius: 10px;
    align-items: flex-end;
  }
  
  .HeaderButton p {
    margin-left: 10px;
    font-size: 1rem;
  }